/* cabeçalho */
html {

	background: linear-gradient(#DCDCDC, #A9A9A9);
}

.site-container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Playfair Display', serif;
}

.cabecalho-principal {

	background: #903035;
	padding: 10px 0;
	
}

.caixa {

	position: relative;
	width: 940px;
	margin-left: 5%
}

.caixa:hover {

	color: #C78C19;
	opacity: 0.7;

}

.logo {


	width: 40%;
}


.menu {

	position: absolute;
	top: 100px;
	right: 0;
	left: 50%;
}

.menu li {
	display: inline;
	margin-left: 15px;
}

.menu a {

	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

.menu a:hover {

	color: #C78C19;
	text-decoration: underline;
}

/* rodapé */

.rodape-principal {
	text-align: center;
	background: #903035;
	padding: 20px;
	color: white;
	
}

.fone .wpp {

	display: inline;
	padding-right: 0.5em;
	padding-top: 0.5em;
}

.contatos {

	display: inline-block;
	padding: 0 20px;
}


.redes {
	vertical-align: top;
	display: inline-block;
	padding: 0 20px;

}

.fb .insta {
	padding-top: 10px;
	padding-left: 20px;
}


.titulos {

	padding: 2em;
	font-size: 20px;
	font-weight: bold;
}

/* celular */

@media screen and (max-width: 480px) {

	.site-container {

		width: 1500px;
	}

	p {
		font-size: larger;
	}

	.cabecalho-principal .rodape-principal {
		width: 100%;
		box-sizing: border-box;

	}

	.banner {

		width: 100%;
	}

	.menu {

		text-align: center;
		position: static;
		padding-right: 20px;
		padding-top: 0px;

	}

	.menu a {

		font-size: 50px;
	}

	.contatos.redes {

		transform: scale(1.4);
		padding-bottom: 1em;
		padding-left: 15px;
	}
}