main {

	text-align: center;
}

.promocoes {
	width: 70%;
	margin: 0 20px;
	padding: 50px 0;
	display: inline-block;
	text-align: center;
	
}


.promocoes li { 
	display: inline-block;
	text-align: center;
	width:30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 20px 0 0 0;
	margin: 1em;
	
	
}

.promocoes li:hover {
	transform: scale(1.9);
}

.primeira {

	height: 239px;


}

.terceirai {

	width: 329px;


}

@media screen and (max-width: 480px) {

	main {

		height: 2000px;
		width: 100%;
	}

	.promocoes {

		transform: scale(2.0);
		height: auto;
	    display: inline-block;
	    width: 70%;
	    margin-top: 40%;

	}

}