site-container{

	text-align: center;
}

.promocoes {
	width: 100%;
	padding: 50px 0;
	display: inline-block;
}


.promocoes li { 
	display: inline-block;
	width:30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 20px 0 0 0;

	
}

.promocoes li:hover {
	transform: scale(1.6);
}

.primeira {
	height: 239px;
}

.terceirai {
	width: 329px;


}

@media screen and (max-width: 480px) {

	main {

		height: 2000px;
		width: 100%;
	}

	.promocoes {

		transform: scale(2.0);
		height: auto;
	    display: inline-block;
	    width: 70%;
	    margin-top: 40%;

	}

}