/* cabeçalho */

html, body {

	width: 100%;
}

body {

	background: linear-gradient(#DCDCDC, #A9A9A9);
	font-family: 'Playfair Display', serif;
}

header {

	background: #903035;
	padding: 20px 0;
}

.caixa {

	
	position: relative;
	width: 940px;
	margin-left: 5%

	
}

.caixa:hover {

	color: #C78C19;
	opacity: 0.7;
	
}

.logo {

	color: white;
	position: static;
	width:40%;
}


nav {

	position: absolute;
	top: 110px;
	right: 0;
	left:50%;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {  
	
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover {

	color: #C78C19;
	text-decoration: underline;
}

/* rodapé */

footer {
	text-align: center;
	background: #903035;
	padding: 40px;
	color: white;
}

.fone {

	display: inline;
	padding-right: 0.5em;
    padding-top: 0.5em;
}

.contatos {

	display: inline-block;
	padding: 0 20px;
}

.wpp {

	display: inline;
	padding-right: 0.5em;
    padding-top: 0.5em;
}

.redes {

	vertical-align: top;
	display: inline-block;
	padding: 0 20px;
	
}

.fb {


	padding-top: 10px;
	padding-left: 20px;
}

.insta {
	padding-top: 10px;
	padding-left: 20px;
}

.titulos {

	padding: 2em;
	font-size: 20px;


	font-weight: bold;
}

/* celular */

@media screen and (max-width: 480px) {

	html, body {

		width: 1500px;
	}

	header, footer  {
		width: 100%;
		box-sizing: border-box;

	}

	.banner{

		width: 100%;
	}
	nav {

		text-align: center;
        position: static;
        padding-right: 20px;
	}
}