main {

    text-align: center;
    background: white;
}

.precaucoes {
	width: 70%;
	margin: 0 20px;
	padding: 50px 0;
	display: inline-block;
	text-align: center;
	
}


.precaucoes li { 
	display: inline-block;
	text-align: center;
	width:25%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 20px 0 0 0;
    margin: 1em;
    border: 7px solid#B8860B;
	border-radius: 5px;
	
	
}

.precaucoes li:hover {

    border: 7px ridge white;
}

.voltar a {

	background: grey;
	text-decoration: none;
	color: #903035;
}

button {
  
  background-color: #903035;
  border: 4px solid #B8860B;
	border-radius: 5px;
  
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;

}

button p {
    color: white;
}